{% set resource = hookable_metadata.context.resource %}

<div class="row">
    <div class="col-12 col-md-4 fw-bold">{{ 'sylius_grid_import_export.ui.output_file'|trans }}</div>
    <div class="col-12 col-md-8">
        {% if resource.status == 'success' and resource.output %}
            <span class="text-success">
                <i class="icon icon-check"></i>
                {{ resource.output|split('/')|last }}
            </span>
        {% elseif resource.status == 'failed' %}
            <span class="text-danger">
                <i class="icon icon-exclamation-triangle"></i>
                {{ 'sylius_grid_import_export.ui.export_failed'|trans }}
                {% if resource.errorMessage %}
                    <br>
                    <small class="text-muted">{{ resource.errorMessage }}</small>
                {% endif %}
            </span>
        {% elseif resource.status == 'processing' %}
            <span class="text-muted">
                <i class="icon icon-spinner icon-spin"></i>
                {{ 'sylius_grid_import_export.ui.processing'|trans }}
            </span>
        {% else %}
            <em>{{ 'sylius_grid_import_export.ui.no_output'|trans }}</em>
        {% endif %}
    </div>
</div>
